<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @batsman.player_id %>
</p>

<p>
  <b>Innings:</b>
  <%= @batsman.innings %>
</p>

<p>
  <b>Nout:</b>
  <%= @batsman.nout %>
</p>

<p>
  <b>Runs:</b>
  <%= @batsman.runs %>
</p>

<p>
  <b>Hights:</b>
  <%= @batsman.hights %>
</p>

<p>
  <b>Bestf:</b>
  <%= @batsman.bestf %>
</p>

<p>
  <b>Sr:</b>
  <%= @batsman.sr %>
</p>

<p>
  <b>Hundred:</b>
  <%= @batsman.hundred %>
</p>

<p>
  <b>Fifty:</b>
  <%= @batsman.fifty %>
</p>

<p>
  <b>Zero:</b>
  <%= @batsman.zero %>
</p>

<p>
  <b>4fours:</b>
  <%= @batsman.fours %>
</p>

<p>
  <b>6siz:</b>
  <%= @batsman.siz %>
</p>


<%= link_to 'Edit', edit_batsman_path(@batsman) %> |
<%= link_to 'Back', batsmen_path %>
