<p id="notice"><%= notice %></p>

<p>
  <b>Innings:</b>
  <%= @bowler.innings %>
</p>

<p>
  <b>Player:</b>
  <%= @bowler.player_id %>
</p>

<p>
  <b>Overs:</b>
  <%= @bowler.overs %>
</p>

<p>
  <b>Madian:</b>
  <%= @bowler.madian %>
</p>

<p>
  <b>Runs:</b>
  <%= @bowler.runs %>
</p>

<p>
  <b>Bbi:</b>
  <%= @bowler.BBI %>
</p>

<p>
  <b>Ave:</b>
  <%= @bowler.ave %>
</p>

<p>
  <b>Econ:</b>
  <%= @bowler.econ %>
</p>

<p>
  <b>4haul:</b>
  <%= @bowler.4haul %>
</p>

<p>
  <b>5haul:</b>
  <%= @bowler.5haul %>
</p>

<p>
  <b>Sr:</b>
  <%= @bowler.sr %>
</p>


<%= link_to 'Edit', edit_bowler_path(@bowler) %> |
<%= link_to 'Back', bowlers_path %>
